body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    min-height: 75vh;
}

.btn-floating {
    position: absolute;
    bottom: 10vh;
    right: 3vw;
}

.toast {
    width: 100vw;
    margin: auto auto;
    text-align: center;
    justify-content: center;
}

select {
    border-color: grey;
}

.p-3 {
    padding: 3px
}

.btn-full {
    width: 100%!important;
}

.modal-content,
.modal {}

@media (min-width: 600px) {
    .modal {
        max-width: 100vw;
        min-height: 90vh;
        top: 0px!important;
    }
    .modal-content {
        overflow: hidden!important;
    }
    footer {
        display: none;
    }
    .toast {
        width: 30vw;
        left: 30vw;
    }
}